@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
  background-color: 343434;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}

h1, h2{
	font-family: 'Josefin Sans', 'Noto Sans JP',serif;
}

img{
	width: 100%;
	height: auto;
}

/*ヘッダー---------------------------------------------------------------------*/
#header{
	position: relative;
    overflow:hidden;
    width:100%;
    height:568px;
}

#header img{
    position:absolute;
    left:50%;
    width:1440px;
    height:568px;
    margin-left:-720px;
}

#logo img{
	position: absolute;
	left: 50%;
	bottom: 45%;
	width: 150px;
	height: 150px;
	margin-left: -75px;
}

#slogan{
	position: absolute;
  top: 57%;
	width: 100%;
	-webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
	color: #fff;
	line-height: 1.2;
	text-align: center;
}

#slogan h1{
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	margin-bottom: 20px;
	font-weight:normal;
}

#slogan h2{
	font-size: 27px;
	font-weight:normal;
}
/*----------------------------------------------------------------------------*/

/*ビデオチャット PC用------------------------------------------------------------*/
.pure-g p,label{
	color: ffffff;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}
.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}
.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}
.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

#video-container {
  width: 100%;
  height: 800px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#my-video {
  float: left;
  width: 50%;
  height: 350px;
  object-fit: cover;
	padding: 10px;
	box-sizing: border-box;
}

.remote-video {
  width: 100%;
  height: 450px;
	padding: 10px;
	box-sizing: border-box;
}

#my-id {
  font-weight: bold;
}

#chatframe {
  width: 50%;
  height: 350px;
  position: relative;
	padding: 10px;
	box-sizing: border-box;
}

#sendtextform {
  width: auto;
  height: auto;
  margin: 0px;
  position: absolute;
	right: 10px;
	left: 10px;
	bottom: 10px;
}

#mymessage {
  width: 70%;
  height: auto;
	min-height: 22px;
}

#sendbutton {
  width: auto;
  height: auto;
  float: right;
}

.chatbox {
  width: 100%;
  height: 270px;
  overflow: scroll;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #777;
}

.peer {
  color: #FF7500;
  font-weight: 600;
}
.you {
  color: #0C6BA1;
  font-weight: 600;
}
/*----------------------------------------------------------------------------*/

/*ナビゲーション----------------------------------------------------------------*/
@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}

  a#menu{
		display:none;
	}

	.panel{
		display:block !important;
	}

	#mainnav{
		position:fixed;
		top: 0;
		width:100%;
		z-index:500;
	}

	#mainnav ul{
		text-align: right;
		padding-right: 30px;
	}

	#mainnav li{
		display: inline-block;
		padding: 45px 10px 20px;
		font-size: 14px;
		font-weight: 300;
	}

  #mainnav a{
		color: #ffffff;
	}

	#mainnav.changeNav{
		background: rgba(52,52,52,.9);
		border-bottom: 1px solid #d1d1d1;
	}

	#mainnav.changeNav li{
		padding: 20px 10px;
	}
}

@media only screen and (max-width: 799px){
	#slogan h1{
		font-size: 31px;
	}

	#slogan h2{
		font-size: 16px;
	}

  a#menu{
  	display: inline-block;
  	position: relative;
  	width: 40px;
  	height: 40px;
  	margin: 10px;
	}

	#menuBtn{
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 18px;
  	height: 2px;
  	margin: -1px 0 0 -7px;
  	background: #fff;
  	transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 2px;
  	background: #fff;
  	transition: .3s;
	}

	#menuBtn:before{
  	margin-top: -7px;
	}

	#menuBtn:after{
  	margin-top: 5px;
	}

	a#menu .close{
  	background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

	a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}

	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
/*----------------------------------------------------------------------------*/

/*ビデオチャット スマホ用---------------------------------------------------------*/
@media screen and (max-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/

	#video-container {
	  width: 100%;
	  height: 800px;
	}

	.flex {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}

	#my-video {
	  float: left;
	  width: 50%;
	  height: 350px;
	  object-fit: cover;
		padding: 10px;
		box-sizing: border-box;
	}

	.remote-video {
	  width: 100%;
	  height: 450px;
		padding: 10px;
		box-sizing: border-box;
	}

	#my-id {
	  font-weight: bold;
	}

	#chatframe {
	  width: 50%;
	  height: 350px;
	  position: relative;
		padding: 10px;
		box-sizing: border-box;
	}

	#sendtextform {
	  width: auto;
	  height: auto;
	  margin: 0px;
	  position: absolute;
		right: 10px;
		left: 10px;
		bottom: 10px;
	}

	#mymessage {
	  width: 70%;
	  height: auto;
		min-height: 22px;
	}

	#sendbutton {
	  width: auto;
	  height: auto;
	  float: right;
	}

	.chatbox {
	  width: 100%;
	  height: 270px;
	  overflow: scroll;
	  background-color: #ffffff;
	  padding: 10px;
	  border: 1px solid #777;
	}

	.peer {
	  color: #FF7500;
	  font-weight: 600;
	}
	.you {
	  color: #0C6BA1;
	  font-weight: 600;
	}
/*----------------------------------------------------------------------------*/
